h1 {
  margin: 0
}

.input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.wrapper {
  padding-top: 40px;
}

.inputFormWrapper {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-content: center;
}
