.navbarWrapper {
    display: flex;
    justify-content: center;
}

.linksWrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: aliceblue;
    max-width: 800px;
    border-radius: 15px;
    padding: 15px 50px;
}

