#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(170, 170, 232);
  background-color: rgb(10, 10, 37);
}

.heading-1,
.heading-2,
.heading-3 {
  color: rgb(32, 35, 60);
  margin: 0;
}

.heading-main {
  margin: 0;
  font-size: 22px;
  color: rgb(62, 70, 120);
}

.heading-1 {
  font-size: 24px;
}

.heading-2 {
  font-size: 18px;
}

.heading-3 {
  font-size: 14px;
}

.photo-wrapper {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 200px;
  min-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoURL {
  max-width: 300px;
}

.driver-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin-right: auto;
  margin-left: auto;
}

.driver-item__wrapper {
  max-width: 500px;
  max-height: 800px;
  display: flex;
  justify-content: center;
}

.driver-item {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-height: 800px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0 rgb(135, 135, 135);
  gap: 10px;
  justify-content: space-around;
}

.button__wrapper {
  display: flex;
  gap: 10px;
}

.edit-form__wrapper {
  width: 100%;
  margin-top: 295px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
